<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 project-list">
      <h1>My trips</h1>
        <div class="d-flex align-items-center bg-white m-1 px-3">
          <div class="flex-grow-1 p-2"> <strong>Trips</strong> </div>
          <%= link_to root_path do %>
            <div class="">
              <i class="far fa-plus-square"></i>
              <strong>New trip</strong>
            </div>
          <% end %>
        </div>
      <% @trips.each do |trip| %>
        <div class="d-flex align-items-center bg-white m-1 px-3">
          <div class="flex-grow-1 p-2">
            <%= link_to trip_path(trip) do %>
              <%= trip.origin.name %> - <%= trip.destination.name  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
