<h1>Show all trips saved for a user in a nice way!!!</h1>
<ul>
  <% @trips.each do |trip| %>
    <li>
      <%= link_to trip_path(trip) do %>
        <%= trip.origin.name %> - <%= trip.destination.name  %>
      <% end %>
    </li>

  <% end %>

</ul>

add links back and to new form to look for other trips
