<h1>We don't really need this page anymore.</h1>

Only if we want to show the details of the saved trips. But then should look very similar to result.html.erb maybe with some extra options for logged in users.

<h1>So we still need it. But not so important for the first user story.</h1>

<br>
<br>
<br>
Available variables:

<p><%= link_to @trip.destination.name, country_path(@trip.destination)  %></p>
<p><%= link_to @trip.origin.name, country_path(@trip.origin)  %></p>

<br>
<br>
<br>
