// Define variables for your color scheme

// Falcony Color Scheme
$blue-falcony: #173B63;
$light-blue-falcony: #66BDF8;
$grey-falcony: #C4C4C4;
$light-gray-falcony: #F9FAFA;

// buttons and highlights:
$green-falcony: #5D8361;
$red-falcony: #fb0000;

//light-gray for background:
$light-gray: #909090;
//dark black-gray for fonts:
$black-gray: #505050;
$very-light-gray: #F9FAFA;

//secondary grays for fonts and other elements:
$secondary_gray_light:#A0A0A0;
$secondary_gray_dark: #404040;

// For example:
$red: #FD1015;
$blue: #173B63;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
