// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Roboto:wght@400;500;700;900&display=swap');

// Define fonts for body and headers
$headers-font: "Roboto", "Helvetica", "sans-serif"; // 400, 500, 700, 900
$body-font: "Open Sans", "Helvetica", "sans-serif"; // 300, 400, 700, 800

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p {
  font-weight: 300;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-weight: 500;
  font-size: 30px
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}
