.card-cases {
  margin: 0 10vw;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-indications {
  margin: 0 10vw;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

#cases-graph {
  margin: 0 10vw;
  height: 50vh;
  max-height: 200px;
  background: green;
}
