.country-list {
  width: 35%;
  margin-bottom: 20px;
}

#country-show-header {
  text-align: center;
  height: 120px;
  padding-top: 60px;
}

// Map ////////////////////////////////////////////////////////////////////////
#map-width {
  width: 90%;
}

#map {
  position: sticky;
  height: 100vh;
  top: 0px;
}
#map .mapboxgl-popup-content {
  padding: 10px;
  max-width: 300px;
  padding-top: 20px;
}
#map .mapboxgl-popup-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

#map .mapboxgl-popup-content ul h3 {
  margin: 0 0 10px 0;
}

#map .mapboxgl-popup-content img {
  float:left;
  width: 30px;
  margin-right: 10px;
}
