.container-width-1140 {
  width: 1140px;
  margin: 0 auto;
}

.banner-country-show {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 0 15px 1px rgba(0,0,0,0.2);
}

.banner-country-title {
  color: white;
  h1 {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  font-size: 48px;
  font-weight: 900;
  text-align: right;
  }
}

.nav a  {
  font-size: 20px;
  color: $black-gray;
}

a#travel-tab.nav-link.active {
  background-color: white;
  color: $heavy-blue-falcony;
}
a#healthSafety-tab.nav-link.active {
  background-color: white;
  color: $heavy-blue-falcony;
}
a#services-tab.nav-link.active {
  background-color: white;
  color: $heavy-blue-falcony;
}

.cases-info p  {
  text-align: center;
  font-weight: bold;
}

small  {
  font-size: 14px;
  font-style: none;
  margin-bottom: 0px;
  text-align: center;
}

.card-indications-menu {
  height: 50px;
  box-shadow: 0px 0 15px 1px rgba(0,0,0,0.2);
  // padding: 16px;
  // padding-top: 8px;
  background-color: #F9FAFA;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: 0px;
}

#tabs li.active>a{
background:red;
}

.card-indications {
  height: auto;
  background: white;
  box-shadow: 0px 0 15px 1px rgba(0,0,0,0.2);
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.2);
}

.card-cases {
  height: auto;
  background: white;
  box-shadow: 10px 0 15px -8px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
}

.cases-dashboard {
  margin-top: 30px;
}

.card-case-d {
  max-width: 170px;
  text-align: center;
  margin: 0 auto;
}

.card-case-d p {
  font-size: 20px;
}
