// Specific CSS for your home-page

// hide and show mobile vs desktop
.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {
  .content-desktop {display: none;}
  .content-mobile {display: block;}
}

// Section 1:

// Banner-1 - desktop:
.banner-landing-1 {
  width: 100%;
  height: 90vh;
  padding-top: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  // Motto phrase
  #motto {
  font-size: 32px;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(70,70,70,0.8);
  margin-bottom: 100px;
  }

  // Titles inside banner:
  #headline-banner-1 {
  margin-bottom: -20px;
  margin-right: 48px;

  font-size: 56px;
  font-weight: 900;

  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(70,70,70,0.9);
  //margin: 13% 0 0 0;
  // max-width: 35%;
  }

  #subheadline-banner-1 {
  font-size: 20px;
  font-weight: 400;
  color: white;
  // margin: 0 0;
  margin-top: 8%;
  margin-right: 48px;
  // max-width: 27%;
  }

  .landing-page-button {
    min-width: 260px;
  }
}

// Banner-1 - mobile:
.banner-landing-1-mobile {
  width: 100%;
  height: 90vh;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Motto phrase
  #motto {
  font-size: 32px;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(70,70,70,0.8);
  margin-bottom: 100px;
  }

  // Titles inside banner:
  #headline-banner-1 {
  margin-bottom: -20px;
  margin-right: 48px;

  font-size: 56px;
  font-weight: 900;

  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(70,70,70,0.9);
  //margin: 13% 0 0 0;
  // max-width: 35%;
  }

  #subheadline-banner-1 {
  font-size: 20px;
  font-weight: 400;
  color: white;
  // margin: 0 0;
  margin-top: 8%;
  margin-right: 48px;
  // max-width: 27%;
  }

  .landing-page-button {
    min-width: 260px;
  }
}

.login-mobile-landing {
  color: white;
}
