<div class="footer">
  <!-- <div class="d-flex justify-content-around align-items-center"> -->

    <!-- icons with links to Github, Linkedin and Facebook -->
    <div class="footer-icons">
      <a class="footer-link mr-1" href="https://github.com/flott2410/falcony" target="_blank"><i class="fab fa-github"></i></a>
      <!-- <a class="footer-link" href="#" target="_blank"><i class="fab fa-linkedin"></i></a> -->
      <a class="footer-link mr-1" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a class="footer-link" href="mailto: contact@falcony.info" target="_blank"><i class="fas fa-at"></i></a>
    </div>

    <!-- links to about Falcony page and Privacy policy -->
    <div class="d-flex justify-content-center footer-link">
      <p class="paragraph-no-margin mr-4"> <%= link_to t("global.navbar.sources"), root_path %></p>
      <p class="paragraph-no-margin mr-0"> <%= link_to t("global.navbar.privacy_policy"), root_path %></p>
      <!-- <p class="paragraph-no-margin"> <%= link_to t("global.navbar.cookie_policy"), root_path %></p> -->
    </div>

    <!-- Stripe -->
    <div>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button-el"
          data-key="pk_test_51HP7jHFjvBKJvhpwIhnOBljbfSMBvI0pXddRVQC6SG42JZikYX4xl2X6TbKE72BDGhjJkUQsxV2nLX1RztaLxFjb00X5HXG5bq"
          data-description="Hot Coffee!"
          data-label="Hot Coffee ☕️"
          data-amount="200"
          data-currency="eur"
          data-locale="auto"></script>
    </div>

    <!--  contact info - copyright -->
    <div class="footer-copyright">
       <p class="paragraph-no-margin">Coded with <i class="fas fa-heart"></i> in Lisbon, Milan & Diamante</p>
       <!-- <p class="paragraph-no-margin">Contact us: <a class="footer-link" href = "mailto: contact@falcony.info">contact@falcony.info</a></p> -->
    </div>

  <!-- </div> -->
</div>
