<div class="footer">
  <!-- <div class="d-flex justify-content-around align-items-center"> -->

    <!-- icons with links to Github, Linkedin and Facebook -->
    <div class="footer-icons">
      <a class="footer-link" href="https://github.com/flott2410/falcony" target="_blank"><i class="fab fa-github"></i></a>
      <a class="footer-link" href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="footer-link" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>

    <!-- links to about Falcony page and Privacy policy -->
    <div class="footer-link">
      <p class="paragraph-no-margin"> <%= link_to t("global.navbar.about"), root_path %></p>
      <p class="paragraph-no-margin"> <%= link_to t("global.navbar.privacy_policy"), root_path %></p>
    </div>

   <!--  contact info - copyright -->
    <div class="footer-copyright">
       <p class="paragraph-no-margin">Coded with <i class="fas fa-heart"></i> in Lisbon & Diamante</p>
       <p class="paragraph-no-margin">Contact us: <a class="footer-link" href = "mailto: email@falcony.info">info@falcony.info</a></p>
    </div>

  <!-- </div> -->
</div>
