<!-- Footer mobile -->
<div class="content-mobile">
  <div style="background-color: #505050;" class="p-2">
    <p style="color: white; text-decoration: none;" class="paragraph-no-margin mb-1"><a class="footer-link" href = "/about">About Falcony</a></p>
    <p style="color: white;" class="paragraph-no-margin mb-1">Contact us: <a class="footer-link" href = "mailto: contact@falcony.info">contact@falcony.info</a></p>
    <p style="color: white;" class="paragraph-no-margin mb-1">Coded with <i class="fas fa-heart"></i> in Lisbon, Milan & Diamante</p>
  </div>
</div>
