<h1>Pages#home</h1>

<!-- form for creating a trip -->
<%= simple_form_for @trip do |f| %>
  <%= f.input :destination_id, collection: Country.all %>
  <%= f.input :origin_id, collection: Country.all %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<!-- basic html structure for every page -->


<!-- basic components -->


<!-- buttons -->


<!-- cards -->

