<div class="content-container d-flex">

  <div class="country-list">
    <div class="col-md-8 project-list">
      <h1 class="text-center">Countries list</h1>
      <% @countries.each do |country| %>
        <div class="d-flex align-items-center justify-content-left bg-white m-1 px-3">
          <%= link_to country_path(country) do %>
            <%= country.name %>
          <% end %>
          <div class="ml-3">Flag icon</div>
        </div>
      <% end %>
    </div>
  </div>

 <!-- Html Code for map -->
  <div id="map"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

<br>
<br>
<br>



