<h1>Country details: this page shows all the details we have about a country</h1>

<!-- test country -->
<p>Country name:</p>
<%= @country.name %>

<!-- test connection to cases -->
<p>Total cases:</p>
<%= @country.cases %>
<%= @country.cases.last.total_cases %>

<!-- test connection to indications -->
<p>Indication:</p>
<%= @country.indications %>
