.btn-falcony {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-falcony;
  text-decoration: none;
  box-shadow: 4px 4px 5px 0px rgba(20,20,20,0.46);
}

.btn-falcony:hover {
  opacity: 0.9;
  color: white;
  text-decoration: none;
}

