.card-country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-country img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-country h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-country p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

#expanded {
  height: 400px;
}

.card-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#content-b {
  background-color: rgb(43, 54, 54);
  color: white;
}
#content-a {    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 200px;
}
#content-a img{
  height: 120px;
  width: 120px;
  opacity: 0.8;
  margin-bottom: 40px;
  //margin-left: 50px;
}

.icon_text{
  //margin-left: 30px;
}

.card-feature img {
  height: 50%;
  width: 400px;
  opacity: 0.8;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

#content-b .big_icon img{
  width: 150px;
  //margin-left: 50px;
}

#content-b img{
  width: 150px;
  //margin-left: 50px;
}


