.card-country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-country img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-country h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-country p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

#expanded {
  height: 400px;
}

.card-feature {
  height: 500px;
  padding: 0 90px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  background: white;

  h1 {
    margin-bottom: 24px;
  }

  p {
    font-size: 17px;
    margin-bottom: 8px;
  }

  img {
  border-radius: 3px;
  }
}

#content-b {
  background-color: rgb(43, 54, 54);
  color: white;
}

.card-feature img {
  height: 100%;
  width: 400px;
  opacity: 0.9;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
}

.card-text-countries-name {
  color: $heavy-blue-falcony;
  margin: 0px;
  font-weight: bold;
}

.card-text-countries-name:hover {
  color: $blue-falcony;
}


.fa-bell {
  color: $heavy-blue-falcony;
  cursor: pointer;
}

.fa-bell:hover {
  color: $blue-falcony;
}
